@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
  text-align: center;
  
}


.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
   min-height: 100vh;
}

.form_content {
    padding: 50px;
    border-radius: 30px;
    background-color: rgb(115, 194, 180);
}

.content_wrapper{
    padding-bottom: 30px;
}

.inputTitle {

 padding-top: 15px;
 padding-bottom: 15px;
 color: white;
 font-size: 1.5rem;
 font-weight: bolder;
}

.input{
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: rgb(50, 90, 82);
  font-size: 1.2rem;
}

textarea:focus, input:focus{
 outline: 2px solid rgb(50, 90, 82);
}

.signButton {
  padding: 15px;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: bolder;
  background-color: white;
  color: rgb(115, 194, 180);
}

.signButton:hover{
  background-color: rgb(115, 194, 180);
  color: white;
}

